<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leejh.servertamp">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GaeunMainActivity"></activity>
        <activity android:name=".GaeunPhoneCouponUse"/>
        <activity android:name=".GaeunPhoneServer" />
        <activity android:name=".GaeunNfcServer" />
        <activity android:name=".CafedreamMainActivity"></activity>
        <activity android:name=".CafedreamNfcServer"/>
        <activity android:name=".CafedreamPhoneServer"/>
        <activity android:name=".CafedreamPhoneCouponUse"/>
        <activity android:name=".EtangMainActivity"></activity>
        <activity android:name=".EtangNfcServer"/>
        <activity android:name=".EtangPhoneServer"/>
        <activity android:name=".EtangPhoneCouponUse"/>
        <activity android:name=".PandorothyMainActivity"></activity>
        <activity android:name=".PandorothyNfcServer"/>
        <activity android:name=".PandorothyPhoneServer"/>
        <activity android:name=".PandorothyPhoneCouponUse"/>
        <activity android:name=".NfcScanner2" />
    </application>

</manifest>